@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Space+Mono&display=swap');

* {
    font-family: 'Quicksand';
}

.rps:hover {
    transform: scale(1.1);
    cursor: pointer;
}
h1, h3, #score {
    width: max-content;
    display: block;
    margin: auto;
}
#score1 {
    margin-bottom: 0;
}
#score {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#reset {
    border: none;
    height: 2em;
    border-radius: 20px;
    background-color: rgb(235, 109, 109);
}
#reset:hover {
    cursor: pointer;
    transform: scale(1.1);
}
#choices {
    margin: 1% auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#secret {
    display: none;
    height: 70vh;
    width: 100%;
    margin: 10vh auto;
    justify-content: center;
} 
#characters {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.rock {
    width: 30%;
}
.pr {
    width: 100%;
    height: 100%;
}
img {
    position: relative;
}
#person {
    animation: left 800ms linear;
}
@keyframes left {
    0% {
        left: -500px;
    }
    100% {
        left: 0px;
    }
}
#robot {
    animation: right 800ms linear;
}
@keyframes right {
    0% {
        right: -500px;
    }
    100% {
        right: 0px;
    }
}
#fight {
    display: none;
    background-color: rgb(235, 127, 127);
    position: absolute;
    justify-content: center;
    align-items: center;
    left: 43%;
    font-size: 20px;
    width: 150px;
    height: 50px;
    transform: scale(3);
    color: black;
    border-radius: 10px;
    animation: fight 300ms linear;
}
@keyframes fight {
    0% {
        background-color: rgb(235, 127, 127);
        transform: scale(0);
        width: 1px;
        width: 1px;
    }
    100% {
        background-color: rgb(235, 127, 127);
        transform: scale(3);
        width: 150px;
        height: 50px;
    }
}

.leftpic {
    animation: leftpic 700ms linear;
    left: 35%;
    align-self: center;
}
@keyframes leftpic {
    0% {
        left: -200px;
    }
    100% {
        left: 25%;
    }
}

.rightpic {
    animation: rightpic 700ms linear;
    right: 35%;
    align-self: center;
}
@keyframes rightpic {
    0% {
        right: -200px;
    }
    100% {
        right: 25%;
    }
}

#result {
    display: none;
    position: absolute;
    font-size: 80px;
    font-weight: bold;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.leftfall {
    animation: leftfall 1s linear;
    left: 20%;
    top: 150vh;
}
@keyframes leftfall {
    0% {
        top: 50vh;
        left: 25%;
    }
    20% {
        left: 10%;
        top: 60vh;
    }
    100% {
        transform: rotate(-360deg);
        left: 20%;
        top: 150vh;
    }
}
.rightfall{
    animation: rightfall 1s linear;
    right: 20%;
    top: 150vh;
}
@keyframes rightfall {
    0% {
        top: 50vh;
        right: 25%;
    }
    20% {
        right: 10%;
        top: 60vh;
    }
    100% {
        transform: rotate(360deg);
        right: 20%;
        top: 150vh;
    }
}

@media (orientation: portrait) {
    .rock {
        width: 70%;
    }
    .paper, .scissors {
        height: 30vh;
    }
    #characters {
        display: flex;
        flex-direction: column;
    }
    #fight {
        position: absolute;
        top: 0;
        left: 32%;
        width: 30%;
    }
    .pr {
        height: 30vh;
    }
    .rps {
        height: 30vh;
        max-width: 40vw;
    }
}
